{% extends "base.html" %}

{% block title %}
{{ actor.full_name }}
{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
{% endblock %}



{% block body %}
    <h1>{{actor.full_name}}</h1>
    <h3>
        Date of Birth:
    </h3>
    <li>{{ actor.dob.strftime('%B %d, %Y') }}</li>
    <h3>
        Bio:
    </h3>
    <p>{{ actor.bio }}</p>
    <h3>
        Known for:
    </h3>
    {% for film in work_list %}
        <a href="/movie_detail/{{film.movie.id}}"><li>{{film.movie.title}}</a> released on {{film.movie.release_date.strftime('%B %d, %Y')}}</li>
    {% endfor %}

{% endblock %}

{% block after_body %}
{% endblock %}