{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
{% endblock %}



{% block body %}
<section id="register_section">
    <h2>Register Here:</h2>
    <form action="/create_account" method="POST">
        <p>
            First Name: <input type="text" name="first">
        </p>
        <p>
            Last Name: <input type="text" name="last">
        </p>
        <p>
            Email: <input type="text" name="email">
        </p>
        <p>
            Password: <input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
</section>

<section>
    <h2>Login Here:</h2>
    <form action="/login" method="POST">
        <p>
            Email: <input type="text" name="email">
        </p>
        <p>
            Password: <input type="password" name="password">
        </p>
        <p>
            <input type="submit" >
        </p>
    </form>
</section>
{% endblock %}

{% block after_body %}
{% endblock %}