{% extends "base.html" %}

{% block title %}
<!-- {{ movie.title }} - Details -->
{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %} 

{% endblock %}



{% block body %}
<h1>{{ movie.title }}</h1>

<p>
  {{ movie.description }}
</p>

<img id="movie_poster" src="{{ movie.img_url }}">

<h3>
  Lead Actor: <a href="/actor_details/{{movie.cast_list[0].actor.id}}">{{ movie.cast_list[0].actor.full_name }}</a>
</h3>
<div id="rating_submission_form">
  <h2><label for="score">Rate this film:</label></h2>
<form action="/add_rating" method="POST">
  <select name="score" id="rating_box">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
  </select>
  <textarea name="description" id="description_box" cols="25" rows="5"></textarea>
  <input type="hidden" name="movie_id" value={{movie.id}}>
  <input type="submit">
</form>
</div>
<h3>
  Average Score:
</h3>
<h1>
  {{ average_rating }}
</h1>
<h3>
  Total Reviews:
</h3>
<h1>{{ rating_list | length }}</h1>

{% for rating in rating_list %}
<li>{{rating.score}}</li> out of 5 submitted by <a href="/user_details/{{ rating.user_id }}">{{ rating.user.first_name
  }} {{ rating.user.last_name }}</a>
{% endfor %}


{% endblock %}

{% block after_body %}
{% endblock %}