<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DROCK's Cupcakes</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <nav>
        <a href="/main"><button id="homeBtn" >Home</button></a>
        <a href="/cupcake_menu"><button id="menuBtn">Menu</Menu></button></a>
        <a href="/cupcake_order"><button id="orderBtn">Current Order</button></a>
    </nav>
    <h1>DROCK's Cupcakes</h1>


    <section id="cupcake_showcase">
        {% for cupcake in cupcakes %}
        <div id="cupcake_card">
            <h3>{{ cupcake["name"] }}</h3>
            <h4>Flavor: {{ cupcake["flavor"] }}</h4>
            <h4>Size: {{ cupcake["size"] }}</h4>
            <h4> <b>Price: ${{ cupcake["price"] }}</b></h4>
        </div>
        {% endfor %}
    </section>

</body>
</html>