<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Cupcake</title>
    <link rel="stylesheet" href="static/index.css">

</head>
<body>
    <nav>
        <a href="index.html"><button id="homeBtn" >Home</button></a>
        <a href="all_view.html"><button id="menuBtn">Menu</Menu></button></a>
        <a href="order_view.html"><button id="orderBtn">Current Order</button></a>
    </nav>
    <h1>Single Cupcakes</h1>
</body>
</html>