<html>

<head>
    <title>Shopping Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/site.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Ubermelon</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a href="/"><button type="button" class="btn btn-primary btn-sm">Home Page</button></a>
                    <a href="/all_melons"><button type="button" class="btn btn-primary btn-sm">All Melons</button></a>
                    <a href="/cart"><button type="button" class="btn btn-primary btn-sm">Shopping Cart</button></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% for message in get_flashed_messages() %}
        <p class="alert alert-warning">{{ message }}</p>
        {% endfor %}
        <!-- This is where the main content goes. -->
        {% block body %}
        BODY OF PAGE GOES HERE VIA INHERITANCE
        {% endblock %}

    </div>

</body>

</html>