{% extends 'base.html' %}

{% block body %}
<h1>My Shopping Cart</h1>

<table class="table table-striped mt-3">
    <thead>
        <tr>

            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>

        </tr>
    </thead>
</table>

{% for melon in cart_contents %}
    <tr>
        <th>{{ melon.common_name }}</th>
        <th>{{ melon.quantity }}</th>
        <th>{{ "%.02f" | format(melon.price) }}</th>
        <th>{{ "%.02f" | format(melon.melon_cost) }}</th>
    </tr>
{% endfor %}

<h3>Cart total is: ${{ "%.02f" | format(cart_total) }}</h3>


{% endblock %}