<html>
<head>
    <title>Shopping Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>

    {% extends "base.html" %}
    {% block navbar %}
    
    {% endblock %}

  <div class="container">

    <!-- This is where the main content goes. -->
    {% block body %}

    {% for melon in all_melons %}

    Name: {{ melon["name"]}}
    Price: {{ melon["price"]}}
    Color: {{ melon["color"]}}

    {% endfor %}
    
    {% endblock %}
    
  </div>

</body>
</html>
