{% extends 'base.html' %}

{% block body %}

    <section id="melon_card">
        <div>
            {{ melon.common_name }}
        </div>
        <div>
            <img class="melon-image" src="{{ melon.image_url }}">
        </div>
        <div>
            {{ melon.price_str() }}
        </div>
        <div>
            {{ melon.color }}
        </div>
        <div>
            {%if melon.seedless %}
                <li>Seedless</li>
            {% else %}
                <li>Warning: This melon has seeds</li>

            {% endif %}
        </div>
        
        <a class="btn btn-primary" href="{{ url_for('add_to_cart_func', melon_id = melon.melon_id) }}">Add to Cart</a>
    </section>

{% endblock %}
