<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styling.css">
    <title>Project Tracking App</title>
</head>


<body>


    <nav>
        <div>
            <a href="/"><button>Home</button></a>
            <a href="projects"><button>Projects</button></a>
            <a href="teams"><button>Teams</button></a>
            <a href="users"><button>Users</button></a>
            
        </div>
        <div>
            {% block navbar %}
            {% endblock %}
        </div>

        <div id="alert_flash">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <b>{{ message }}</b>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
        

        </div>

    </nav>

    <section id="main_section">
        {% block body %}
        {% endblock %}
    </section>

</body>

</html>