{% extends "base.html" %}

{% block navbar %}

<div id="alert_flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <b>{{ message }}</b>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% endblock %}
</div>


{% block body %}

<div id="team_form">
    <form action="{{ url_for('add_team') }}" method="post">
        {{ team_form.csrf_token() }}
        {{ team_form.team_name.label }}
        {{ team_form.team_name }}
        {{ team_form.submit }}
    </form>
</div>

<div id="project_form">
    <form action="{{ url_for('add_project') }}" method="post">
        {{ project_form.csrf_token() }}
        {{ project_form.project_name.label }}
        {{ project_form.project_name }}
        {{ project_form.description.label }}
        {{ project_form.description }}
        {{ project_form.completed.label }}
        {{ project_form.completed }}
        {{ project_form.team_selection.label }}
        {{ project_form.team_selection }}
        {{ project_form.submit }}
    </form>
</div>














{% endblock %}