{% extends "base.html" %}

{% block navbar %}
{% endblock %}


{% block body %}

<table id="team_table">
    <thead>
        <tr id="team_table_header">
            <th>Team Name</th>
            <th>Team Lead</th>
        </tr>
    </thead>
    <tbody>
        {% for team in team_list %}
        <tr id="team_row">
            <td>{{ team.team_name }}</td>
            <td>{{ team.user.username }}</td>
            <td><a href="{{ url_for('delete_team', team_id = team.id) }}"></a><button>DELETE TEAM</button></td>
        </tr>


        {% endfor %}

    </tbody>

</table>







{% endblock %}