.navbar-nav {
    display: flex;
    justify-content:left;

    width: 100vh;
}

nav div div div button {
    margin: 5px;
}

#melon_card, #shopping-cart-section {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
}

.melon-image {
    height: 300px;
    width: 300px;

    border-radius: 10px;
}

#melon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;
    width: auto;

    background-color: silver;
}

#card-text-center {
    margin: 5px;
}

#error404_container {
    background-color:rgb(23, 183, 133);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#error404_image {
    height: 50vh;
    width: auto;
}